<table id="examples" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <thead>
    <tr>
      <th>albumId</th>
      <th>id</th>
      <th>title</th>
      <th>url</th>
      <th>thumbnailUrl</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let photos of photo">
      <td>{{ photos.albumId }}</td>
      <td>{{ photos.id }}</td>
      <td>{{ photos.title }}</td>
      <td><a href="http://{{ photos.url}}">{{photos.url}}</a></td>
      <td><a href="http://{{ photos.thumbnailUrl}}">{{photos.thumbnailUrl}}</a></td>
         
    </tr>
  </tbody>
</table>
